:root{
<<<<<<< HEAD
    --alert-error-color:red;
    --alert-success-color:green;
    --alert-neutral-color:rgb(39, 38, 38);
=======
    --alert-background-color:grey;
>>>>>>> development
    --alert-primary-color:white;
}