:root{
    --sub-text:gray;
}.text-container{
    display: flex;
}
.heading-containers{
    margin: 1rem;
}
.other-formats{
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: space-evenly;
}
.gray-text{
    color: var(--sub-text);
}
.aligned-center{
    text-align: center;
}